/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';
@import './font-awesome.css';

/* .roundBtn {
	border: none;
	border-radius: 40;
	color: #fff;
	border: 1px solid white;
	background-color: transparent;
}

.roundBtn:hover {
	background-color: #fff;
	color: #333;
} */


/* Darkening backgorund images smartly  */
.darken {
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}
.darken > label {
	/* Any labels inside darkened bg container should be white */
	color: #fff;
}

/* Licensing */
/* have to use super specific selector so
that weight is high enough to be used from global css file out */
button.fabnativ.licenseBtn {
	/* see https://docs.nativescript.org/ui/styling#nativescript-specific-css-properties-Using */
	android-elevation: 0;

	font-size: 20;
	color: #bebbbb;

	background-color: transparent;
	border: none;
}
